<http://lv.artic.edu/ns/026e30e1-f735-4560-bd74-942c5fe18f3c> <http://xmlns.com/foaf/0.1/name> "Heinemann, William"@en .
<http://lv.artic.edu/ns/05359023-7a4e-480d-a6fc-4c57cf2c6aba> <http://xmlns.com/foaf/0.1/name> "Buhot, Félix Hilaire"@en .
<http://lv.artic.edu/ns/1321c2b1-bdb9-4f20-b467-efe913d998bf> <http://xmlns.com/foaf/0.1/name> "Hanson, Charles James Whistler"@en .
<http://lv.artic.edu/ns/2037d8fc-cf65-44e7-9d8b-75fe1dfd1c9a> <http://xmlns.com/foaf/0.1/name> "Traer, James Reeves"@en .
<http://lv.artic.edu/ns/3406d41a-ba41-466c-a781-8ec2ca65d30b> <http://xmlns.com/foaf/0.1/name> "Gilchrist, Constance MacDonald"@en .
<http://lv.artic.edu/ns/35b3d4a9-30ca-4a4f-a90c-72997b799c38> <http://xmlns.com/foaf/0.1/name> "Guérard, Henri Charles"@en .
<http://lv.artic.edu/ns/3ac0f474-215a-4389-a06c-2e0b79435af1> <http://xmlns.com/foaf/0.1/name> "Mackay, Agnes Ethel"@en .
<http://lv.artic.edu/ns/3b2521e1-05ff-4aca-b024-ed0d2020a0bc> <http://xmlns.com/foaf/0.1/name> "Roussel, Frances Smithson"@en .
<http://lv.artic.edu/ns/49d34fbb-26a0-4c96-975f-3ba257031d6d> <http://xmlns.com/foaf/0.1/name> "Pellegrini, Carlo"@en .
<http://lv.artic.edu/ns/4e6be40c-3fd7-4723-a3b8-a4b31317d8ae> <http://xmlns.com/foaf/0.1/name> "Goulding, Frederick"@en .
