<http://lv.artic.edu/ns/026e30e1-f735-4560-bd74-942c5fe18f3c> <http://purl.org/vocab/relationship/knowsOf> <http://lv.artic.edu/ns/2cf4b9b0-a653-4be7-b65c-2e6dbce718d3> .
<http://lv.artic.edu/ns/026e30e1-f735-4560-bd74-942c5fe18f3c> <http://purl.org/vocab/relationship/knowsOf> <http://lv.artic.edu/ns/3ae3b5e3-030a-4f64-8c46-a01b841641b9> .
<http://lv.artic.edu/ns/05359023-7a4e-480d-a6fc-4c57cf2c6aba> <http://purl.org/vocab/relationship/knowsOf> <http://lv.artic.edu/ns/2fb49c67-a229-43f0-872c-80f3301b77f5> .
<http://lv.artic.edu/ns/05359023-7a4e-480d-a6fc-4c57cf2c6aba> <http://purl.org/vocab/relationship/knowsOf> <http://lv.artic.edu/ns/7faff1b2-8125-4cc0-a0f5-187c8bbffb74> .
<http://lv.artic.edu/ns/1321c2b1-bdb9-4f20-b467-efe913d998bf> <http://purl.org/vocab/relationship/knowsOf> <http://lv.artic.edu/ns/bbf7b7b3-e0f2-471a-9bce-eea51225c7b1> .
<http://lv.artic.edu/ns/1321c2b1-bdb9-4f20-b467-efe913d998bf> <http://purl.org/vocab/relationship/knowsOf> <http://lv.artic.edu/ns/3ae3b5e3-030a-4f64-8c46-a01b841641b9> .
<http://lv.artic.edu/ns/2037d8fc-cf65-44e7-9d8b-75fe1dfd1c9a> <http://purl.org/vocab/relationship/knowsOf> <http://lv.artic.edu/ns/3ae3b5e3-030a-4f64-8c46-a01b841641b9> .
<http://lv.artic.edu/ns/2037d8fc-cf65-44e7-9d8b-75fe1dfd1c9a> <http://purl.org/vocab/relationship/knowsOf> <http://lv.artic.edu/ns/f14fa295-8227-480a-b3d5-7e519bffcfa7> .
<http://lv.artic.edu/ns/2037d8fc-cf65-44e7-9d8b-75fe1dfd1c9a> <http://purl.org/vocab/relationship/knowsOf> <http://lv.artic.edu/ns/793b16f4-c12e-4a0b-adc4-fe20d9122ace> .
<http://lv.artic.edu/ns/2037d8fc-cf65-44e7-9d8b-75fe1dfd1c9a> <http://purl.org/vocab/relationship/knowsOf> <http://lv.artic.edu/ns/fa529a46-2310-479d-a57a-5085a303e8b7> .
